@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* *=========== Theme =========== */
@layer base {
  :root {
    /* Base colors */
    --rich-black: 220 40% 8%;
    --pearl-white: 0 0% 95%;
    --coral: 16 100% 66%;
    --dark-slate: 215 30% 13%;
    --muted-lavender: 260 20% 70%;
    --deep-burgundy: 345 50% 30%;
    --aquamarine: 160 100% 50%;

    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 352 100% 68%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222 47% 31%;

    --radius: 0.5rem;
  }

  .dark {
    /* Main theme colors */
    --background: var(--rich-black);
    --foreground: var(--pearl-white);

    --card: var(--dark-slate);
    --card-foreground: var(--pearl-white);

    --popover: var(--rich-black);
    --popover-foreground: var(--aquamarine);

    --primary: var(--coral);
    --primary-foreground: var(--pearl-white);

    --secondary: var(--dark-slate);
    --secondary-foreground: var(--aquamarine);

    --muted: var(--dark-slate);
    --muted-foreground: var(--muted-lavender);

    --accent: var(--aquamarine);
    --accent-foreground: var(--pearl-white);

    --destructive: var(--deep-burgundy);
    --destructive-foreground: var(--pearl-white);

    --border: var(--dark-slate);
    --input: var(--dark-slate);
    --ring: hsl(270 60% 60%);
  }
}

.shadow-light {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}

.shadow-dark {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.141);
}

.container {
  width: 85%;
}

.grid {
  gap: 1.2rem;
}

@media (max-width: 640px) {
  /* Tailwind's sm breakpoint is 640px */
  .grid {
    gap: 0.8rem;
  }
  .container {
    width: 90%;
  }
}

@media (min-width: 1280px) {
  /* Tailwind's xl breakpoint is 1280px */
  .grid {
    gap: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-background-top {
  background-image: linear-gradient(
    to top,
    theme("colors.secondary.DEFAULT"),
    theme("colors.background")
  );
}

.gradient-background {
  background-image: linear-gradient(
    to top,
    theme("colors.background"),
    theme("colors.secondary.DEFAULT"),
    theme("colors.background")
  );
}

.gradient-background-bottom {
  background-image: linear-gradient(
    to bottom,
    theme("colors.secondary.DEFAULT"),
    theme("colors.background")
  );
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.scroll-reveal-up {
  animation: fadeInUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
